
/* importing font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Mukta:wght@200;300;400;600;700;800&display=swap');

/* adding basic styling to make pages look more appearing */

h1 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
}

.navbar-brand {
    font-size: 2.25rem!important;
}

.container-fluid{
    height:90px;
}
.container-fluid img{
    height:65px;
}

.nav-link{
    height:24px;
}
.m-1 img{
    height:15px;
}

body{
    font-family: 'Mukta', sans-serif;
}

.header{
    padding:10px;
    background-color:#FF685C;
} 
.main{
    padding:10px;
}
.mainIndex div{
    padding:10px;
}

.index-body{
    
    background-image:url(../images/index-background-3.png);
}
.index-buttons-div{
    display:flex;
    justify-content:center;
    padding:10px;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin: 316px 300px;
    box-shadow: -1px 2px 16px 8px #000000;
}

.btn-primary:active:focus{
    background-color:grey;
}

.form1{
    padding:10px;
}
.form1 fieldset{
    padding:15px;
}
.btn{
    padding:100px;
}
.add-player-btn{
    display:flex;
    padding:20px;
    justify-content:flex-end;
    
}