
/* importing font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Mukta:wght@200;300;400;600;700;800&display=swap');

/* adding basic styling to make pages look more appearing */
@media (prefers-color-scheme: dark) {}
h1 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
}

.navbar-brand {
    font-size: 2.25rem!important;
	-webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
}

.container a{
	font-size:20px;
}
.container h1{
	font-weight: bold;
}

.container-fluid{
    height:90px;
}
.container-fluid img{
    height:65px;
}

.nav-link{
    height:24px;
}
.m-1 img{
    height:15px;
}

.header{
    padding:10px;
    background-color:#FF685C;
} 
.main{
    padding:10px;
    
}
.mainIndex div{
    padding:10px;
}

.index-body{
    
    background-image:url(../images/index-background-3.png);
}
.index-buttons-div{
    display:flex;
    justify-content:center;
    padding:10px;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin: 316px 300px;
    box-shadow: -1px 2px 16px 8px #000000;
}

.btn-primary:active:focus{
    background-color:grey;
}

.form1{
    padding:10px;
}
.form1 fieldset{
    padding:15px;
}
.btn{
    padding:100px;
}
.add-player-btn{
    display:flex;
    padding:20px;
    justify-content:flex-start;
}
.heading-title{
    display:flex;
    justify-content:center;
    font-weight:bold;
    padding:10px;
}
.add-player-btn{
    display:flex;
    justify-content:center;
}

.my-team-buttons{
    display:flex;
    flex-direction: row;
}
.sortingForm{
    font-size:16px;
    font-weight:bold;
    padding-left: 2px;
}
.team-buttons-player-add{
    padding-left:10px;
    display:flex;
    justify-content:flex-end;
}


/*Refernce for logo hover affect: https://www.joomla-monster.com/blog/web-development/css3-powered-hover-effects-for-your-logo*/
.jm-logo {
	padding: 18px;
}
.jm-logo a {
	background: rgba(255,255,255,0.1);
	-o-transition: -o-transform ease-out 0.1s, background 0.2s;
	-ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.jm-logo a:hover {
	background: rgba(255,255,255,0.05);
	-o-transform: scale(0.93);
	-webkit-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
}
.jm-logo a:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	filter: alpha(opacity=0);
	opacity: 0;
	-o-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.jm-logo a:hover:after {
	-o-animation: sonarEffect 1.3s ease-out 75ms;
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}
@-o-keyframes sonarEffect {
	0% {
		filter: alpha(opacity=30);
		opacity: 0.3;
	}
	40% {
		filter: alpha(opacity=50);
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-o-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		filter: alpha(opacity=0);
		opacity: 0;
	}
}
@-webkit-keyframes sonarEffect {
	0% {
		filter: alpha(opacity=30);
		opacity: 0.3;
	}
	40% {
		filter: alpha(opacity=50);
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-o-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		filter: alpha(opacity=0);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		filter: alpha(opacity=30);
		opacity: 0.3;
	}
	40% {
		filter: alpha(opacity=50);
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 0 10px rgba(255,255,255,0.3);
		-o-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		filter: alpha(opacity=0);
		opacity: 0;
	}
}